---
layout: default
---

<h1>Posts by Categories</h1>
<div id="archives">
  {% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>

    <h2 class="category-head">{{ category_name }}</h2>
    {% for post in site.categories[category_name] %}
    <article class="archive-item">
      <ul>
        <li>
          <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
        </li>
      </ul>
    </article>
    {% endfor %}
  </div>
  {% endfor %}
</div>