---
layout: default
---

<h1>Posts by tags</h1>
<div id="archives">
  {% for tag in site.tags %}
  <div class="archive-group">
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
    <div id="#{{ tag_name | slugize }}"></div>
    <p></p>

    <h2 class="tag-head">{{ tag_name }}</h2>
    {% for post in site.tags[tag_name] %}
    <article class="archive-item">
      <ul>
        <li>
          <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
        </li>
      </ul>
    </article>
    {% endfor %}
  </div>
  {% endfor %}
</div>